body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: auto;
    /* border: 0.1px solid red; */
    background-color: black;
}

main {
    display: flex;
    background-color: white;
    height: 100vh;
    width: 67%;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;

}

.center-logo {
    background-color: lightgray;
    opacity: .8;
    position: absolute;
    top: 22%;
    font-size: 75px;
}

#odin-logo {
    height: 100px;
    width: 100px;
}
#image {
    object-fit: cover;
    height: 100vh;
    width: 480px;
}

.logo-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 140px;
    width: 480px;
    color: white;
}

.section-container {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* border: red solid 2px; */
}

.paragraph-container  {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 18px;
    padding-left: 3em;
    font-size: 24px;
    height: 33.33%;
    width: 100%;
    text-wrap: wrap;

}
.login-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* padding-top: 25px; */
    gap: 25px;
    /* box-shadow: 10px; */
    /* border: red 2px solid; */
    height: 33.33%;
    width: 100%;
}

.para-cont{
 display: flex;
 justify-content: start;
 align-items: center;
 padding-top: 25px;
 padding-left: 25px;
 /* border: red 2px solid; */
 width: 100%;


}

.form-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 100px;
width: 100%;
padding-left: 25px;
/* border: red 2px solid; */

}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    /* width: 100%;
border: red 2px solid; */



}
.leftSide-login {
    display: flex;
    flex-direction:column ;
    gap: 30px;
    height: 100%;
    width: 100%;
/* border: red 2px solid; */

}


.rightSide-login {
    display: flex;
    flex-direction:column ;
    gap: 30px;
    height: 100%;
    /* border: red 2px solid; */
    width: 100%;


}



.div3 {

    height: 33.33%;
    width: 100%;

}
